# =========================
# Unity
# =========================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/

# =========================
# IDEs
# =========================
.vscode/
.idea/
.vs/
.vsconfig
*.csproj
*.sln
*.user
*.tmp
*.pidb
*.booproj
*.svd

# =========================
# Android / Gradle / NDK
# =========================
.gradle/
.externalNativeBuild/
.cxx/
.utmp/

# =========================
# CMake / builds nativos
# =========================
.cmake/
CMakeFiles/
CMakeCache.txt
*.ninja
*.o
*.obj
*.bin
*.log

# =========================
# Builds finales
# =========================
*.apk
*.aab